*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*begin css header */

header{
    height: 85px;
    background: #145666cb;
}



.navbar{
    display: flex;
    justify-content: space-between;
    /*border: 1px solid #ffffff;*/
    width: 80%;
    margin: 0 auto;
    position: relative;
    font-size: 1.2rem;
    
}

.logo{
    margin-top: 25px ;
    cursor: pointer;
}

.navMenu ul{
    display: flex;
    margin-top: 25px;
}

.navMenu li{
    padding: 0 10px;
    list-style-type: none;
}

.navMenu a{
    text-decoration: none;
    color: #fdf4f496;
}

.navMenu a:hover{
    color: #fc682ed7;
    transition: 0.3s;
}

/* End css header */

/* begin css main */

main{
    height: 100vh;
    
    width: 80%;
    margin: 0 auto;
    
}

.contenair{
    display: flex;
}

.content{
    /*float: left;*/
    
    width: 75%;
    height: 100vh;
    padding: 12px 10px;
    background: #1456669d;
}

.title{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 12px;
    color: rgba(250, 208, 193, 0.685);
}

.card{
    border: 1px solid #11886681;
    border-radius: 5px;
    box-shadow: 4px 3px 0px #6a6969;
    padding: 8px 7px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px auto;
    width: 700px;
    color: rgba(255, 255, 255, 0.699);
}

.card-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-style: italic;
    text-decoration-line: underline;
    font-weight: 400;
    
}

.card-description{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
   
    
    

}
.card-created-at,.author{
    font-weight: 200;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 0.8rem;
    margin-top: 8px;
    margin-bottom: 8px ;
}



.sidebar{
    /*float: right;*/
    width: 25%;
    background: #145666ce;
   padding: 12px 10px;
   color: orangered;
}
.articles{
    list-style-type: none;
    padding: 12px;
    border: 1px solid #444556;
    box-shadow: 5px 3px 0 #555555;
    
}
.articles a{
    text-decoration: none;
    color: #eff5fac7;
    font-size: 1.2rem;
    padding: 6px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    
}

footer{
    width: 100vw;
    background: #145666d2;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    
    
}
.span{
    position: absolute;
    left: 38%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: #2222229a;
    font-weight: 300;
    margin-top: 12px;

}

.service{
    
    position: absolute;
    left: 20%;
    top: 25px;
}

.service ul{
    list-style-type: none;
    margin: 20px;
    
}
.service a, .categorie a{
    text-decoration: none;
    color: #f8eeeeb7;
}

.categorie{
    
    position: absolute;
    top: 25px;
}
.categorie ul{
    list-style-type: none;
    margin: 20px;
}
